<!-- <button (click)="getAllPost()">todos</button> -->
<section class="container">
  <form
    [formGroup]="formularioPost"
    (ngSubmit)="
      createPost(formularioPost.value?.titulo, formularioPost.value?.texto)
    "
  >
    <div class="container-titulo">
      <h1 class="titulo">Create message</h1>
    </div>

    <div class="input-text">
      <label class="label" for="form1Example1">Title messages</label>
      <input
        formControlName="titulo"
        placeholder="Talk about me"
        type="text"
        id="form1Example1"
        class="input"
      />
    </div>

    <div class="input-text">
      <label class="label" for="form3Example3">Messages</label>
      <input
        formControlName="texto"
        placeholder="Create message for share ehite friends"
        type="text"
        id="form3Example3"
        class="input"
      />
    </div>

    <div class="boton-container">
      <button
        (click)="
          createPost(formularioPost.value?.titulo, formularioPost.value?.texto)
        "
        [disabled]="formularioPost.invalid"
        type="button"
        class="boton-register"
        style="padding-left: 2.5rem; padding-right: 2.5rem"
      >
        Share
      </button>
    </div>
    <ng-container *ngFor="let post of post">
      <div class="container-card">
        <h1 class="titulo-card">{{ post.title | uppercase }}</h1>
        <h3 class="texto-card">{{ post.texto }}</h3>
        <div class="footer-card">
          <h6 class="fecha-card">
            {{ post.fechaCreacion | date : "short" }}
          </h6>
          <h3 class="username-card">{{ post.user.userName }}</h3>
        </div>
      </div>
    </ng-container>
  </form>
</section>
