<section class="container">
  <form
    [formGroup]="formularioRegister"
    (ngSubmit)="RegisterUsuario(formularioRegister.value)"
  >
    <picture class="container-image">
      <img
        class="image-main"
        src="../../../../../assets/img/image 2.png"
        alt="image-wire"
      />
      <h2 class="title">Wires</h2>
    </picture>

    <h2 class="titulo">Welcome to Wires</h2>

    <div class="input-text">
      <label class="label" for="form1Example1">UserName</label>
      <input
        formControlName="userName"
        placeholder="userName"
        type="text"
        id="form1Example1"
        class="input"
      />
    </div>
    <div class="input-text">
      <label class="label" for="form2Example2">Email </label>
      <input
        formControlName="email"
        placeholder="email"
        type="email"
        id="form2Example2"
        class="input"
      />
    </div>
    <div class="input-text">
      <label class="label" for="form3Example3">Password</label>
      <input
        formControlName="password"
        placeholder="password"
        type="password"
        id="form3Example3"
        class="input"
      />
    </div>
    <div class="input-text">
      <label class="label" for="form4Example4">fullName</label>
      <input
        formControlName="fullName"
        placeholder="fullName"
        type="text"
        id="form4Example4"
        class="input"
      />
    </div>
    <div class="boton-container">
      <button
        (click)="RegisterUsuario(formularioRegister.value)"
        [disabled]="formularioRegister.invalid"
        type="button"
        class="boton-register"
        style="padding-left: 2.5rem; padding-right: 2.5rem"
      >
        Create
      </button>
    </div>
  </form>
</section>
