<section class="container">
  <form [formGroup]="formularioLogin" (ngSubmit)="login(formularioLogin.value)">
    <picture class="container-image">
      <img
        class="image-main"
        src="../../../../../assets/img/image 2.png"
        alt="image-wire"
      />
      <h2 class="title">Wires</h2>
    </picture>
    <h2 class="titulo">Welcome to Wires</h2>
    <div class="container-button-register">
      <button class="boton-register" (click)="registro()">Sign up</button>
    </div>

    <div class="input-text">
      <label class="label" for="form1Example1">UserName</label>
      <input
        formControlName="userName"
        placeholder="userName"
        type="text"
        id="form1Example1"
        class="input"
      />
    </div>

    <div class="input-text">
      <label class="label" for="form3Example3">Password</label>
      <input
        formControlName="password"
        placeholder="password"
        type="password"
        id="form3Example3"
        class="input"
      />
    </div>

    <div class="boton-container">
      <button
        (click)="login(formularioLogin.value)"
        [disabled]="formularioLogin.invalid"
        type="button"
        class="boton-login"
      >
        Login
      </button>
    </div>
  </form>
</section>
