<section class="container">
  <div class="container-titulo">
    <h1 class="titulo">All Message</h1>
  </div>
  <form
    class="formulario-palabra"
    [formGroup]="formularioText"
    (ngSubmit)="filterByText(formularioText.value?.text)"
  >
    <div class="input-text">
      <label class="label" for="form1Example1">What search?</label>
      <div class="input-button">
        <input
          formControlName="text"
          placeholder="I like sports"
          type="text"
          id="form1Example1"
          class="input"
        />
        <button
          (click)="filterByText(formularioText.value?.text)"
          [disabled]="formularioText.invalid"
          type="button"
          class="boton-input"
        >
          <img
            class="imagen-boton"
            src="../../../../../assets/icon/chatbox-ellipses.svg"
            alt=""
          />
        </button>
      </div>
    </div>
  </form>

  <div class="container-titulo">
    <h4 class="titulo-date">Date select</h4>
  </div>
  <form
    [formGroup]="formularioDate"
    (ngSubmit)="
      filterByDate(
        formularioDate.value?.frontDate,
        formularioDate.value?.toDate
      )
    "
  >
    <div class="input-text">
      <label class="label" for="form1Example1">Start date</label>
      <input
        formControlName="frontDate"
        placeholder="frontDate"
        type="datetime-local"
        id="form1Example1"
        class="input-date"
      />
    </div>

    <div class="input-text">
      <label class="label" for="form3Example3"> To date</label>
      <input
        formControlName="toDate"
        placeholder="toDate"
        type="datetime-local"
        id="form3Example3"
        class="input-date"
      />
    </div>

    <div class="boton-container">
      <button
        (click)="
          filterByDate(
            formularioDate.value?.frontDate,
            formularioDate.value?.toDate
          )
        "
        [disabled]="formularioDate.invalid"
        type="button"
        class="boton-login"
      >
        Find by date
      </button>
    </div>
    <div class="boton-container">
      <button
        (click)="getAllPost()"
        [disabled]="formularioDate.invalid"
        type="button"
        class="boton-login"
      >
        Get all messages
      </button>
    </div>
  </form>
  <ng-container *ngFor="let post of posts">
    <div class="card">
      <h1 class="title">{{ post.title }}</h1>
      <h4 class="texto">{{ post.texto }}</h4>
      <div class="footer-card">
        <h6 class="fecha">{{ post.fechaCreacion | date : "short" }}</h6>
        <h5 class="unserName">By: {{ post.user.userName }}</h5>
      </div>
    </div>
  </ng-container>
</section>
